node_modules
npm-debug.log
.git
.gitignore
.next
.env
.env.local
.env.*.local
.DS_Store
*.pem
.vscode
.idea
.eslintcache
.prettierignore
dist
build
coverage
.turbo
.vercel
docker-compose*.yml
Dockerfile
.dockerignore
README.md
*.md
.github
.gitattributes
.husky
public/thumbnails/*
!public/thumbnails/.gitkeep
